body{
	margin: 0 auto;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","ƒqƒ‰ƒMƒmŠpƒS","sans-serif";
    
}
div {
	text-align: center;
	height: 100%;
	background: rgba(255,255,255,0.5);
	padding-bottom:90px;	
}

b {
	font-size:30px;
	margin-left: 40px;
	opacity:0.8;
	color: #333c5e;
}

div {
	font-size:80px;
	margin-left: 40px;
	opacity:0.8;
	color: #333c5e;
}

th {
	paddig:50px;
}

