body{
	margin: 0 auto;
	background-image: url("back-2.jpg");
	background-size:cover;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","Century Gothic","sans-serif";
}    

div{
	text-align: center;
	background: rgba(255,255,255,0.5);
	margin-left:350px;
	margin-right:350px;
	padding-bottom:500px;
}

table{
	margin-left:180px;
}

